{% extends 'EarlsLionBiBundle:Admin:layout.html.twig' %}

{% block rightContent %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Data List</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6"><a href="{{ path('lionbi_dataReport_editor') }}" class="btn btn-success"><i class="fa fa-plus-square"></i> Create</a></div>
        </div>
        
        <div class="row ">
            <div class="col-lg-6">
                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                    {% for item in items %}
                        <tr>
                            <td><i class="fa fa-th-large"></i></td>
                            <td>{{item.getId()}}</td>
                            <td>{{item.getDisplayName()}}</td>
                            <td>{{item.getLnbDataReportType().getDisplayName()}}</td>
                            <td>
                                <a class="btn btn-primary" href="{{path('lionbi_dataReport_editor')}}#/sqlDataDetails/{{item.getId()}}">Edit</a>
                                <a class="btn btn-danger" href="{{path('lionbi_dataReport_editor', {id: item.getId()})}}">Delete</a>
                            </td>
                        </tr>
                        
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}